*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.sanduiche{
    text-align: center;
    color: rgb(36, 187, 154);
    margin: 20px;


}

.comofazer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.ingredientes{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}


.lista{

    width: 400px;
    margin-left: 900px;
    
    
    
   
}

li{
    text-align: justify;
    list-style-type: circle;
   
}

  
img{
    margin: 30px;
    width: 400px;
    height: auto;
    border-radius:40px;


}

.imagem{
    display: flex;
    align-items: center;
    justify-content:center;
}