.rounded-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #5f3496;
    padding: 20px;
  }

  div{
    text-align: center;
    color: floralwhite;
    font-size: 3em;
  }